.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1C1D36;
    font-size: 1em;
    padding: 15px 80px;

    .navLink {
        display: flex;
        list-style: none;


        .resources {

                :nth-child(1) {
                margin-right: 3px;
            }

        }


 
        li {
            margin-left: 32px;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            &:first-child  {
                font-weight: 600;
            }

            &:nth-child(2) {
    
                span {
                    margin-left: 5px;
                }
            }

            a {
                color: #1C1D36;
                text-decoration: none;

              
            }
        }

       
    }

    .btnContainer {
        display: flex;
       
        .signupBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            border: 1px solid #1C1D36;
            border-radius: 8px;
            width: 162px;
            height: 48px;
            padding: 16px;
            font-size: 1em;
            margin-right: 16px;
            cursor: pointer;

            &:hover {
                background: #1C1D36;
                color: #F8F8F8;
                transition: .5s;
            }
        }

        .postjobsBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #1C1D36;
            border: none;
            border-radius: 8px;
            color: #F8F8F8;
            width: 162px;
            height: 48px;
            padding: 16px;
            font-size: 1em;
            cursor: pointer;

            &:hover {
                background: #FFFFFF;
                border: 1px solid #1C1D36;
                color: #1C1D36;
                transition: .5s;
            }
        }
    }

    .hamburger {
        display: none;
        font-size: 3em;
        cursor: pointer;
    }

    // mobile screen
    @media screen and (max-width: 768px) {
        justify-content: space-between;
        padding: 15px 20px;

        .hamburger {
            display: block;
        }

        .navLink {
            display: none;    
        }

        .navLinkDisplay {
            min-height: 100vh;
            padding: 40px;
            width: 100%;
            background: #FFFFFF;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 100;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .btnContainer {
            display: none;
        }

        .times {
            position: fixed;
            top: 10px;
            right: 10px;
            font-size: 3em;
            cursor: pointer;
        }
    }
}



