.dropDown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 48px;
    left: 1152px;
    top: 32px;
    border: 1px solid rgba(80, 79, 79, 0.404);
    border-radius: 8px;    
}

