.resize{
    resize:horizontal;
    overflow-x: auto;
    background-image: linear-gradient(-45deg,#bababa 16px,transparent 16px);
}

.messageList::-webkit-scrollbar,
.textarea::-webkit-scrollbar,
.chat_messages::-webkit-scrollbar{
    display: none;
}


.two_lines{
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: block-axis;
}

.chat_messages{
    overflow-y: scroll;
}


// .textarea{
//     resize: vertical;
//     overflow-y: auto;
//         background-image: linear-gradient(-45deg,#bababa 16px,transparent 16px);

// }