.timelineContainer {
  margin: 0 auto;

  .JobDetails {
    width: 95%;
    height: 4px;
  }

  .description {
    font-weight: 500;
    font-size: 0.8rem;
    color: #3c4257;
  }

  .packagePlan {
    font-weight: 500;
    font-size: 0.8rem;
    color: #3c4257;
  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    border: 1px solid red;
    margin-top: 20px;
  }
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 13px;
    left: 3px;
    height: 12px;
    width: 12px;
    border: 1px solid #1c1d36;
    border-radius: 50%;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #0d5520;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 2.5px;
    left: 2.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 1.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .fontIcon {
    font-size: 15px;
    color: #0d5520;
  }

  // Mobile view
  @media screen and (max-width: 600px) {
    .description {
      font-weight: 500;
      font-size: 0.6rem;
      line-height: 20px;
      color: #3c4257;
      padding-left: 1px;
    }

    .packagePlan {
      font-size: 0.6rem;
    }
  }

  //smaller screen
  @media screen and (max-width: 400px) {
    .description {
      font-weight: 500;
      font-size: 0.5rem;
      line-height: 20px;
      color: #3c4257;
      padding-left: 1px;
    }

    .packagePlan {
      font-size: 0.48rem;
    }
  }
}
