.searchBar {
    box-sizing: border-box;
    position: absolute;
    height: 48px;
    left: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding-left: 37px;
    grid-column: 1/4;
    width: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}