.pattern {
  background-image: url("../assets/home-page/pattern.svg");
}
.main {
  height: 100vh;
  position: relative;
  overflow-y: auto;
  background: #f8f8f8;
}


// auth styles

.imgContainer{
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  margin: 0 auto;
 

}
.img{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-animation:fadeImg 12s ease-in infinite ;
  animation: fadeImg 12s ease-in infinite ;

}

.imgContainer .img:nth-child(1){
  animation-delay: 0s;

}
.imgContainer .img:nth-child(2){
  animation-delay: -4s;

}

.imgContainer .img:nth-child(3){
  animation-delay: -8s;

}
#pic1 {
  background-image: url('../assets/authentication/africanwomansmiling.png');
}
#pic2{
  background-image: url('../assets/authentication/africanwoman.png');

}

#pic3 {
  background-image: url('../assets/authentication/man.png');

}

@keyframes fadeImg {  
 0%{
  opacity: 1;
 }
 20%{
  opacity: 0;
 }
 40%{
  opacity: 0;
 }
 60%{
  opacity: 0;
 }
 80%{
  opacity: 0;
 }
 100%{
  opacity: 1;
 }
}