.main {
  height: 100vh;
  position: relative;
  overflow-y: auto;
  background: #f8f8f8;
}

// auth styles

.img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-animation: fadeImg 12s ease-in infinite;
  animation: fadeImg 12s ease-in infinite;
}

.image_slider {
  height: 400px;
  width: 600px;
  position: relative;
}

.slider_image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.slider_image.active {
  opacity: 1;
}
.img_container {
  transition: opacity 3s ease-in-out;
}
.fadeIn {
  opacity: 1;
}
