.bg {
    background-image: url(../../assets/home-page/rect.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.bg_gray {
    background-color: #f8f8f8;
}

.createProfileCard {
    background-color: rgba(214, 236, 220, 0.3);
    border: 0.981016px solid #b6bbb2;
    border-radius: 16px;
}

.Newsletter {
    backdrop-filter: blur(32px);
}

.Newsletterbx {
    background: radial-gradient(103.02% 103.02% at 50% 0%, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.67) 100%);
    box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(17.1358px);
    border-radius: 17.14px 17.1358px 17.1358px 17.14px;
}

.Newsletter h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #1C1D36;
}
@media  (max-width:600px) {
.Newsletter h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #1C1D36;
}
}

.Newsletter-btn {
    color: #1C1D36;
    border-radius: 8px;
}

.NewsletterImg {
    position: absolute;
    top: 100%;
    right: 1rem;
    transform: translateY(-100%);
}