@import "components/atoms/CheckBox/CheckBox.scss";
@import "components/atoms/DropDown/DropDown.scss";
@tailwind components;

@layer components {
    .applicantWrapper {
        @apply grid col-start-1 grid-cols-1 
        md:col-start-2 col-span-full md:grid-cols-5 justify-self-stretch border border-solid 
        overflow-visible px-3 py-4 place-self-start md:place-items-center rounded-sm justify-between;

        .applicantDetails {
            @apply grid col-start-1 col-end-4 grid-cols-1 grid-rows-1
            md:grid-cols-5 md:grid-flow-col
            md:justify-self-stretch md:p-4 p-5 capitalize place-items-center;
        }

        .actionButtons {
            @apply grid  md:grid-flow-col md:col-start-4 
            grid-cols-2 col-span-full place-items-center my-2;
        }
    }
}
