@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Inter", sans-serif !important;
  margin: 0;
  padding: 0;
}

.dark_500 {
  background: #00000099;
}
.error_message{
  font-size: 11px !important;
  color: rgb(168, 1, 1);
}

@layer components {
  .input-el {
    @apply border border-gray-300 rounded-md px-3 py-2.5 outline-none w-full focus:border-blue-500 focus:border-2;
  }
  .general-btn {
    @apply px-10 py-2 rounded-xl sm:px-20 sm:py-4 sm:rounded-2xl;
  }
  .mentorCardBtn {
    background: radial-gradient(
      103.02% 103.02% at 50% 0%,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.67) 100%
    );
  }
  .active {
    color: text-primary_green;
  }
  .active::after {
    @apply w-full rounded-xl absolute bg-primary_green flex h-1 content-['']	justify-items-center	items-center;
  }

}
