@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



*{
  font-family: "Inter", sans-serif !important;
  margin: 0;
  padding: 0;
}

@layer components{
  .input-el {
    @apply border border-gray-300 rounded-md px-3 py-2.5 outline-none w-full focus:border-blue-500 focus:border-2;
  }
  .general-btn {
    @apply px-10 py-2 rounded-xl sm:px-20 sm:py-4 sm:rounded-2xl
  }
}

