.hireTalent {
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .article1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 96px;

      h1 {
        font-weight: 500;
        font-size: 3em;
        line-height: 64px;
        text-transform: uppercase;
        max-width: 698px;
        margin-bottom: 24px;

        .green {
          color: rgba(13, 85, 32, 1);
        }

        .red {
          color: rgba(190, 0, 0, 1);
        }

        .downH3 {
          font-weight: 300;
        }
      }

      p {
        font-size: 1em;
        line-height: 24px;
        color: #000000;
        max-width: 385px;
      }
    }

    .book {
      display: flex;
      padding: 96px;

      .bookIllustrator {
        margin-right: 48px;
      }

      .bookContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: start;
        max-width: 501px;

        h3 {
          align-self: flex-start;
          margin-bottom: 24px;
          font-size: 1.5em;
          font-weight: 400;
          line-height: 40px;
        }

        ul li {
          margin-bottom: 16px;
          list-style: none;
          font-size: 1em;
          line-height: 22px;

          &::before {
            content: "•";
            color: #0d5520;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }

        .bookBtn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #0d5520;
          border-radius: 8px;
          color: #ffffff;
          align-self: flex-start;
          margin-top: 35px;
          padding: 16px 42px;
          border: none;
          cursor: pointer;

          .bookbtncontent {
            margin-left: 18px;
          }
        }
      }
    }
  }
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .section2Container { 
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 60px;
      padding: 144px 48px;
      isolation: isolate;

      .bookIllustrator {

        img {
          border-radius: 50%;
        }

        .floatingImg1{
          position: absolute;
          width: 93px;
          height: 93px;
          left: 451.71px;
          top: 258px;
        }

        .floatingImg2{
          position: absolute;
          width: 62px;
          height: 62px;
          left: 226px;
          top: 313px;
        }

        .floatingImg3{
          position: absolute;
          width: 80px;
          height: 80px;
          left: 111px;
          top: 590px;
        }

        .floatingImg4{
          position: absolute;
          width: 78px;
          height: 78px;
          left: 423px;
          top: 546px;
        }
      }

      .bookContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 36px;


        .content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          text-align: start;
          gap: 24px;

          .contentTitle {
            display: flex;
            align-items: flex-start;

            h3 {
              font-weight: 900;
              font-size: 3em;
              line-height: 58px;
            }
          }

          .contentList {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;

            p {
              display: flex;
              flex-direction: row;
              justify-items: center;
              align-items: center;
              line-height: 22px;
              gap: 10px;

              &::before {
                content: "•";
                color: #FFC42D;
                font-size: 1.6em;
              }
            }
          }
        }

        .bookBtn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #0D5520;
          border-radius: 8px;
          color: #FFFFFF;
          align-self: flex-start;
          margin-top: 35px;
          padding: 16px 42px;
          border: none;
          cursor: pointer;

          .bookbtncontent {
            margin-left: 18px;
          }
        }
      }
    }
  }

  .section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 120px;
    gap: 10px;
    isolation: isolate;
    background: linear-gradient(90deg, #FFC42D 0%, #0D5520 100%);

    .section3Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 36px;

      max-width: 871px;

      h3 {
        font-weight: 800;
        font-size: 3em;
        line-height: 58px;
        text-align: center;
        color: #F8F8F8;
      }

      .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        padding: 0px;
        gap: 32px;

        button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 22px 32px;
        gap: 8px;
        border-radius: 8px;
        cursor: pointer;
        }

        p {
          font-weight: 600;
          line-height: 19px;
          text-align: center;
        }

        .viewTalentBtn {
          background: #F8F8F8;
          border: none;
          p {
            color: #0D5520;
          }
        }

        .requestTalentBtn {
          border: 1px solid #F8F8F8;
          background: transparent;

          p {
            color: #F8F8F8;
          }
        }
      }
    }
  }

  .infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #f0fbf3;
    padding-top: 120px;

    h3 {
      font-weight: 800;
      font-size: 3em;
      line-height: 58px;
    }

    .cardContainer {
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center;
      gap: 24px;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 24px;
        gap: 24px;
        width: 380px;
        height: 301px;
        background: #FFFFFF;
        border-radius: 16px;
        text-align: center;

        h3 {
          font-weight: 700;
          font-size: 1.5em;
          line-height: 29px;
        }

        p {
          font-weight: 400;
          line-height: 22px;
          padding-top: 16px;
        }
      }
    }

    .CallToActionSection {
      display: flex;
      justify-items: center;
      align-items: center;
      max-width: 100%;

      .CallToActionBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        gap: 12px;
        max-width: 157px;
        max-height: 64px;
        background: #0D5520;
        border-radius: 8px;
        cursor: pointer;

        p {
          font-weight: 400;
          font-size: 1em;
          line-height: 19px;
          color: #FFFFFF;
        }

      }
    }
  }

  .reviewSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 196px;
    gap: 60px;
    background: #f0fbf3;

    h3 {
      font-weight: 800;
      font-size: 3em;
      line-height: 58px;
      max-width: 986px;
      text-align: center;
      margin-top: 150px;
    }

    .reviewContainer {
      display: flex;
      align-items: center;
      justify-items: center;

      .lastArticle {
        margin: 0px;
      }

      .centerArticle {
        max-height: 125%;
        width: 370px;
        color: #f8f8f8;
        background: linear-gradient(180deg, #ffc42d -38.25%, #0d5520 100%);
        padding: 48px 26px;

        .blockQuote {
          position: absolute;
          display: flex;
          align-self: baseline;
        }

        .blockQuoteContainer {
          position: relative;
          top: -265px;
        }

        p {
          font-weight: 700;
          font-size: 1.5em;
          line-height: 29px;
          margin-top: 10px;
        }

        .profile {
          margin-top: 48px;

          .profileDetails {
            :nth-child(1) {
              font-size: 1.5em;
            }   

            :nth-child(2) {
              font-size: 1em;
              margin-top: 0px;
            }
          }       
        }
      }

      article {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 340px;
        max-height: 480px;
        margin-right: 24px;
        flex-direction: column;
        background: #ffffff;
        border-radius: 12px;
        padding: 44px 22px;

        p {
          font-weight: 500;
          font-size: 1.38em;
          line-height: 26px;
          letter-spacing: 0.5px;
        }

        .profile {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          align-self: baseline;
          margin-top: 44px;
          gap: 12px;
          

          img {
            width: 64px;
            height: 64px;
            border-radius: 90px;
          }

          .profileDetails {
            display: flex;
            flex-direction: column;

            :nth-child(1) {
              font-size: 1.38em;
              font-weight: 600;
            }

            :nth-child(2) {
              font-size: 0.9em;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .industrySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 70px 10px 70px;
    text-align: center;

    h3 {
      font-size: 1.5em;
      line-height: 44px;
      max-width: 72%;
      font-weight: 600;
      padding-top: 60px;
    }

    .industryImgContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 70px 0px 60px 0px;
      gap: 24px;
      width: 100%;
      height: auto;
      max-width: 843.81px;

      .industryImg{
        display: flex;
        justify-self: center;
        align-items: center;
      }
    }
  }

  .remarkSections {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0px 110px 80px 110px;

    .remarkContainer {
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 0px;
      gap: 24px;

      .remarks {
        display: flex;
        align-items: center;
        padding: 0px;
        gap: 12px;

        p {
          font-size: 1em;
          line-height: 19px;
          font-weight: 300px;
        }
      }
    }
  }

  // mobile screen

  @media screen and (max-width: 992px) {
    .section2 {
      .section2Container{
        grid-template-columns: 1fr;

        .bookIllustrator {
          justify-self: center;

          .floatingImg3{
            left: 151px;
            top: 540px;
          }
        }
      }
    }

    .infoSection {
      h3{
        text-align: center;
      }
      
      .cardContainer {
        flex-direction: column;
      }
    }

    .reviewSection {
      .reviewContainer {
        flex-direction: column;
        gap: 40px;

        img {
          display: none;
        }

        .lastArticle {
          max-height: 100%;
        }

        .centerArticle {
          max-height: 100%;
        }


        article,
        .lastArticle,
        .centerArticle {
          height: 100%;
          margin-right: 0px;

          img {
            display: block;
          }
        }
      }
    }

    .industrySection {
      .industryImgContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }

  @media screen and (max-width: 768px) {

    .section2 {
      .section2Container{
        display: flex;
        flex-direction: column;

        .bookIllustrator{
          display: none;
        }
      }
    }

    .section3{
      padding: 10em 2em;
      .section3Container {
        .buttonContainer{
          flex-direction: column;
        }
      }
    }

    .industrySection {
      .industryImgContainer {
        display: flex;
        flex-direction: column;
      }
    }

    .remarkSections {
      .remarkContainer {
        flex-wrap: wrap;
      }
    }
  }
}
