.hireTalent {
  .linearGreenBg{
    background: linear-gradient(180deg, #ffc42d -38.25%, #0d5520 100%);
  }
  input::placeholder,
  :-ms-input-placeholder,
  ::-ms-input-placeholder{
    color: black;
    opacity: 1;
  }
}
