.legalDocs {
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0.8rem;
    flex: 1;
     width: 100%;
  overflow-x: auto;
    // h1.text-xl {
    //     font-size: 24px;
    //     font-weight: bold;
    //     margin-bottom: 20px;
    // }

    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    h3 {
        margin-top: 20px;
    }

    p {
        margin-bottom: 15px;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media (min-width: 768px) {
  .legalDocs {
    width: 75%;
    overflow-x: initial;
  }
}