@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Rubik&display=swap");

.headerWrapper {
  color: #33344a;
  .header {
    text-align: center;
    margin-top: 56px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 40px;
    line-height: 64px;
  }

  .subHeader {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 72px;
  }
}

.midSection {
  margin: 33px 400px;
  color: #000;
  .h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 8px;
  }
  .midSectionContent {
    width: 510px;
    height: 168px;
    .p {
      line-height: 24px;
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
}

.inputIcons {
  margin: 23px 400px 0px 400px;
  .input {
    width: 826px;
    height: 64px;
    background-color: #fff;
    border: 1px solid #1c1d36;
    border-radius: 16px;
    position: relative;
    background-image: url("../assets/clipboard.svg");
    background-repeat: no-repeat;
    background-position: 2% 50%;
    padding-left:50px;
    outline: none;
  }
  ::placeholder {
    padding-left: 1px;
  }
  .button {
    width: 224px;
    height: 48px;
    background: #0d5520;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    top:-55px;
    right:-93%
  }
}

.create {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1C1D36;
    padding-bottom: 48px;
    position: relative;
    top: -24px;

    .createPost {
        color: #0D5520;
        text-decoration: underline;
        margin-left: 10px;
    }
}




















